.container {
  min-height: 100svh;
  width: min(100%, 640px);
  margin-inline: auto;
  padding-inline: var(--space-md);

  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.centered {
  justify-content: center;
  align-items: center;
}
